<!-- FIRST NAME -->
<mat-form-field appearance="fill">
  <mat-label>First Name</mat-label>
  <input matInput />
</mat-form-field>

<!-- LAST NAME -->
<mat-form-field appearance="fill">
  <mat-label>Last Name</mat-label>
  <input matInput />
</mat-form-field>

<!-- EMAIL -->
<mat-form-field appearance="fill">
  <mat-label>Email</mat-label>
  <input matInput />
</mat-form-field>

<!-- SALES REP -->
<mat-form-field appearance="fill">
  <mat-label>Sales Rep</mat-label>
  <input matInput />
</mat-form-field>

<!-- LEAD SOURCE -->
<mat-form-field appearance="fill">
  <mat-label>Lead Source</mat-label>
  <input matInput />
</mat-form-field>

<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Optional Information
    </mat-panel-title>
    <!-- <mat-panel-description>
    This is a summary of the content
  </mat-panel-description> -->
  </mat-expansion-panel-header>
  <p>Fields that are not required go here.</p>
</mat-expansion-panel>
