<!-- 
PROFILE: ACTIVITY
Author: 'me@elwoodberry.com'
This code is brought to you by Elwood Berry @www.elwoodberry.com
-->

<mat-expansion-panel class="single-activity" hideToggle>
  <mat-expansion-panel-header fxLayout="row">
    <div>icon</div>
    <div>Type, Title, Date</div>
    <div>menu</div>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
</mat-expansion-panel>

<!-- 
Copyright 2021 ElwoodBerry.com LLC. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at http://www.elwoodberry.com
-->
