<p>
  lead-info works!
</p>


<!-- TITLE -->
<!-- <div class="static-mode-display" fxLayout="column">
<small>Title</small>
{{title}}
</div> -->

<!-- DEPARTMENT -->
<!-- <div class="static-mode-display" fxLayout="column">
<small>Department</small>
{{department}}
</div> -->

<!-- ACCOUNT NAME -->
<!-- <div class="static-mode-display" fxLayout="column">
<small>Account Name</small>
{{accountName}}
</div> -->

<!-- SALES REP -->
<!-- <div class="static-mode-display" fxLayout="column">
<small>Sales Rep</small>
{{salesRep}}
</div>
</div> -->

<!-- EMAIL -->
<!-- <div class="static-mode-display" fxLayout="column">
<small>Email</small>
{{email}}
</div> -->

<!-- LEAD SOURCE-->
<!-- <div class="static-mode-display" fxLayout="column">
<small>Lead Source</small>
{{leadSource}}
</div> -->

<!-- PHONE -->
<!-- <div class="static-mode-display" fxLayout="column">
<small>Phone</small>
{{phone}}
</div> -->

<!-- STATUS -->
<!-- <div class="static-mode-display" fxLayout="column">
<small>Status</small>
{{status}}
</div> -->

<!-- CORPORATE IDENTITY-->
<!-- <div class="static-mode-display" fxLayout="column">
<small>Corporate Identity</small>
{{coporateIdentity}}
</div> -->

<!-- BILLING ADDRESS -->
<!-- <div class="static-mode-display" fxLayout="column">
  <small>Billing</small>
  {{billingAddress1}}<br />
  {{billingAddress2}}<br />
  {{billingCity}}, {{billingState}} {{billingZip}}
</div> -->

<!-- BILLING ADDRESS -->
<!-- <div class="static-mode-display" fxLayout="column">
  <small>Shipping</small>
  {{shippingAddress1}}<br />
  {{shippingAddress2}}<br />
  {{shippingCity}}, {{shippingState}} {{shippingZip}}
</div> -->