/*
PROFILE: INFORMATION
Author: 'me@elwoodberry.com'
This code is brought to you by Elwood Berry @www.elwoodberry.com 
*/
:host {
  // background-color: aqua;

  // HEADER ---
  header {
    height: 60px !important;
    padding-top: 10px;
    position: relative;

    span {
      color: #005ea2;
      font-weight: 100;
    }

    // DISPLAY FULL NAME
    .display-full-name {
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      width: inherit;

      // BUTTON: MINI FAB
      button {
        background-color: #848484;
        height: 25px;
        top: -8px;
        width: 25px;

        ::ng-deep .mat-button-wrapper {
          padding: 0;
          line-height: 24px;
          position: absolute;
          left: 1px;
          top: 1px;

          .mat-icon {
            font-size: 16px;
            vertical-align: inherit;
          }
        }
      }
    }
    // DIVIDER
    .mat-divider {
      bottom: 0;
    }
  }
  // [end] HEADER ---
}

/*
STATIC MODE
*/
.static-mode-display {
  background-color: transparent;
  padding: 5px 0;

  small {
    color: rgb(110, 110, 110);
    font-weight: 100;
  }
}

/*
Copyright 2021 ElwoodBerry.com LLC. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at http://www.elwoodberry.com
*/
