<!-- 
APPLICATION NAME GOES HERE
Author: 'me@elwoodberry.com'
This code is brought to you by Elwood Berry @www.elwoodberry.com 
-->

<app-list-mode></app-list-mode>

<!-- <app-static-mode></app-static-mode> -->

<!-- <app-edit-mode></app-edit-mode> -->


<!-- 
-------------------------------------------------
Copyright 2021 ElwoodBerry.com LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at http://www.elwoodberry.com 
-->