<!-- 
PROFILE: PANEL
Author: 'me@elwoodberry.com'
This code is brought to you by Elwood Berry @www.elwoodberry.com
-->
<mat-card class="core-card" aria-label="Profile panel card.">
  <mat-card-content>
    <div class="core-row" fxLayout="row" aria-label="Profile panel core grid row">
      <div class="core-column" fxLayout="column" fxFlex="25%" aria-label="Profile panel core grid left column">
        <!-- CMPNNT: LEAD INFO -->
        <app-profile-info [firstName]="firstName" [lastName]="lastName" [title]="title" [department]="department"
          [accountName]="accountName" [salesRep]="salesRep" [email]="email" [leadSource]="leadSource" [phone]="phone"
          [status]="status" [coporateIdentity]="coporateIdentity" [billingAddress1]="billingAddress1"
          [billingAddress2]="billingAddress2" [billingCity]="billingCity" [billingState]="billingState"
          [billingZip]="billingZip" [shippingAddress1]="shippingAddress1" [shippingAddress2]="shippingAddress2"
          [shippingCity]="shippingCity" [shippingState]="shippingState" [shippingZip]="shippingZip"></app-profile-info>
      </div>

      <mat-divider [vertical]="true" class="core-divider"></mat-divider>

      <!-- COLUMN #2: RIGHT -->
      <div class="core-column" fxLayout="column" fxFlex="75%">
        <div class="activity-log">
          <!-- 
          ACTIVITIES HEADER
        -->
          <header class="activities-header" fxLayout="row">
            <h3>Activities</h3>
            <button mat-flat-button color="primary" (click)="addActivity()">
              Add Activity
            </button>
            <div class="activities-sort" fxLayout="row">
              <div class="sort-container">
                <mat-form-field>
                  <mat-label>Status</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let status of statuses" [value]="status.value">
                      {{status.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="sort-container">
                <mat-form-field>
                  <mat-label>Type</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let type of types" [value]="type.value">
                      {{type.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="sort-container">
                <mat-form-field>
                  <mat-label>Date</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let date of dates" [value]="date.value">
                      {{date.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </header>

          <!-- 
          ACTIVITIES LIST
        -->
          <div class="activity-feed">
            <mat-accordion>
              <!-- <app-profile-activity
                *ngFor="let activity of activities;  let i = index"
                [activityDate]="activities[i].activityDate"
                [activityTime]="activities[i].activityTime"
                [activityTitle]="activities[i].activityTitle"
                [activityOutcome]="activities[i].activityOutcome"
                [activityType]="activities[i].activityType"
              ></app-profile-activity> -->

              <!-- 
                
              -->
              <mat-expansion-panel class="single-activity" hideToggle
                *ngFor="let activity of activities;  let i = index">
                <mat-expansion-panel-header fxLayout="row">

                  <div class="header-icon">
                    <mat-icon aria-hidden="false" aria-label="">phone</mat-icon>
                  </div>

                  <div class="header-title">
                    <div class="activity-type">{{activities[i].activityType}}</div>
                    <div class="activity-title">{{activities[i].activityTitle}}</div>
                    <div class="activity-date">{{activities[i].activityDate}}</div>
                  </div>

                  <div class="header-menu-button">
                    <button class="lead-activity-menu" mat-icon-button aria-label="" [matMenuTriggerFor]="menu" >
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </div>

                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit</button>
                    <button mat-menu-item>Delete</button>
                  </mat-menu>

                </mat-expansion-panel-header>
                <p>{{activities[i].activityOutcome}}</p>
              </mat-expansion-panel>
              <!-- 

              -->
            </mat-accordion>
          </div>
        </div>
        <!-- [end] 'activity-log' -->
      </div>
    </div>
    <!-- [end] ROW: STATIC DATA -->

    <!-- <mat-divider></mat-divider> -->

    <!-- NOTES-->
    <!-- <div class="static-mode-display" fxLayout="column">
    <small>Notes</small>
    John likes websites like Nike, Adidas and Reebok. He also likes red
    corvettes and brisket.
  </div> -->
  </mat-card-content>

  <mat-card-actions>
    <br />
    <!-- <button mat-button>LIKE</button>
  <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>
<!-- 
Copyright 2021 ElwoodBerry.com LLC. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at http://www.elwoodberry.com
-->