<mat-card class="core-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{firstName}} {{lastName}}</mat-card-title>
    <mat-card-subtitle>{{description}}</mat-card-subtitle>

    <!-- BUTTON: EDIT THIS LEAD -->
    <mat-card-subtitle>
      <button class="core-link-btn" mat-button (click)="editLead()">
        [Edit Lead Information]
      </button>
    </mat-card-subtitle>
  </mat-card-header>

  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->

  <mat-card-content>
    <!-- ROW: STATIC DATA -->
    <div class="core-row" fxLayout="row">
      <!-- COLUMN #1 -->
      <div class="core-column" fxLayout="column" fxFlex="25%">
        <!-- TITLE -->
        <div class="static-mode-display" fxLayout="column">
          <small>Title</small>
          {{title}}
        </div>

        <!-- DEPARTMENT -->
        <div class="static-mode-display" fxLayout="column">
          <small>Department</small>
          {{department}}
        </div>

        <!-- ACCOUNT NAME -->
        <div class="static-mode-display" fxLayout="column">
          <small>Account Name</small>
          {{accountName}}
        </div>

        <!-- SALES REP -->
        <div class="static-mode-display" fxLayout="column">
          <small>Sales Rep</small>
          {{salesRep}}
        </div>
      </div>
      <mat-divider [vertical]="true" class="core-divider"></mat-divider>

      <!-- COLUMN #2 -->
      <div class="core-column" fxLayout="column" fxFlex="25%">
        <!-- EMAIL -->
        <div class="static-mode-display" fxLayout="column">
          <small>Email</small>
          {{email}}
        </div>

        <!-- LEAD SOURCE-->
        <div class="static-mode-display" fxLayout="column">
          <small>Lead Source</small>
          {{leadSource}}
        </div>

        <!-- PHONE -->
        <div class="static-mode-display" fxLayout="column">
          <small>Phone</small>
          {{phone}}
        </div>

        <!-- STATUS -->
        <div class="static-mode-display" fxLayout="column">
          <small>Status</small>
          {{status}}
        </div>

        <!-- CORPORATE IDENTITY-->
        <div class="static-mode-display" fxLayout="column">
          <small>Corporate Identity</small>
          {{coporateIdentity}}
        </div>
      </div>
      <mat-divider [vertical]="true" class="core-divider"></mat-divider>

      <!-- COLUMN #3 -->
      <div class="core-column" fxLayout="column" fxFlex="50%">
        <!-- BILLING ADDRESS -->
        <div class="static-mode-display" fxLayout="column">
          <small>Billing</small>
          {{billingAddress1}}<br />
          {{billingAddress2}}<br />
          {{billingCity}}, {{billingState}} {{billingZip}}
        </div>

        <!-- BILLING ADDRESS -->
        <div class="static-mode-display" fxLayout="column">
          <small>Shipping</small>
          {{shippingAddress1}}<br />
          {{shippingAddress2}}<br />
          {{shippingCity}}, {{shippingState}} {{shippingZip}}
        </div>
      </div>
    </div>
    <!-- [end] ROW: STATIC DATA -->

    <mat-divider></mat-divider>

    <!-- NOTES-->
    <div class="static-mode-display" fxLayout="column">
      <small>Notes</small>
      John likes websites like Nike, Adidas and Reebok. He also likes red
      corvettes and brisket.
    </div>
  </mat-card-content>

  <mat-card-actions>
    <br />
    <!-- <button mat-button>LIKE</button>
    <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>